body {
  min-height: 75rem;
  background-image: url(https://th.bing.com/th/id/R.5b416c7b298fdbd6327a188d789c01e7?rik=2GnrmWLuggPyVg&pid=ImgRaw&r=0);

}
img{
 padding-left: 70px;
}
.card {
  border:solid;
    border-radius: 40px;
    padding-top: 10px;
    background-color: #f4e9ae;
    border-color: aquamarine;
    border-width: 15px;
    border-style: groove;
}
span h4{
  border:solid;
  border-color: #f8c255;
  background-color: rgb(242, 239, 235);
  text-align: center;
  
}
.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}
h1{
  text-align: center;
  padding-bottom: 20px;
}
.badge span {
    background-color: #fffbec;
    width: 80px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
}
.badge span:hover{
  background-color: #f6cd75;
  cursor:pointer;
}
h3 h2{
  background-color: #f4e9ae;
  width: 90px;
  height: 35px;
  border:solid;
  padding-bottom: 3px;
  border-radius: 15px;
    border-color: rgb(197, 37, 37);
    color: #000000;
    justify-content: center;
    align-items: center;
    display: flex;
}
h3 h2:hover{
  background-color: #a5aec0;
  cursor: pointer;
}
.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 20px;
}
footer{

  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
}
.text2 {
    color: #a5aec0
}

ul{
    display: flex;
    text-align: center;
    list-style: none;
}

@media only screen and (min-width:150px) and (max-width:700px) {
  body {
    color:#000;
   font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
   font-size:12px;
   font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
   width:100%;
 }
 .card {
   width: 98%;
   min-width: 310px;
   margin: 0px auto;
   padding: 0px 0px;
   position: relative;
 }
}
@media only screen and (orientation:portrait) and (min-width:321px) {
 html, body {
    width: 320px;
   min-width: 310px;
   margin: 0px;
    overflow-x: hidden;
 }
 .card {
   width: 320px;
   min-width: 310px;
   margin: 0px;
  }
}
@media only screen and (orientation:portrait) and (min-width:481px) {
 html, body {
    width: 480px;
   min-width: 470px;
   margin: 0px;
    overflow-x: hidden;
 }
 .card {
   width: 480px;
   min-width: 470px;
   margin: 0px;
  }
}
